In [2]:
import string
import pandas as pd

import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_csv("spam.csv",encoding='ISO-8859-1')

In [4]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

print shreyas

In [5]:
df=df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1)

In [6]:
df.columns.tolist()

[u'v1', u'v2']

In [7]:
df.columns=["Classify","Message"]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
Classify    5572 non-null object
Message     5572 non-null object
dtypes: object(2)
memory usage: 87.1+ KB

In [9]:
df=df.replace({'ham': 0,'spam': 1})

In [10]:
df.head()

   Classify                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [11]:
df['Message']=df['Message'].str.replace('string.punctuation','')

In [12]:
df.head()

   Classify                                            Message
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [13]:
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text
df['Message'] = df['Message'].apply(remove_punctuations)

In [14]:
df.head()

   Classify                                            Message
0         0  Go until jurong point crazy Available only in ...
1         0                            Ok lar Joking wif u oni
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0        U dun say so early hor U c already then say
4         0  Nah I dont think he goes to usf he lives aroun...

In [30]:
m_train,m_test,y_train,y_test=train_test_split(df['Message'],df['Classify'],random_state=1)

In [31]:

from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()
counts = count_vectorizer.fit_transform(m_train.values)

In [32]:
counts

<4179x8114 sparse matrix of type '<type 'numpy.int64'>'
	with 54527 stored elements in Compressed Sparse Row format>

In [33]:
classifier = MultinomialNB()
targets =y_train.values
classifier.fit(counts, targets)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [34]:
test_counts=count_vectorizer.transform(m_test)

In [35]:
pred1=classifier.predict(test_counts)

In [36]:
print accuracy_score(pred1,y_test)

0.982053122757